html, body {
  margin: 0;
  overflow: hidden;
}

.dims {
  width: 360px;
  height: 640px;
}

.background {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
}

.game {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  position: absolute;
  top: 0;
  font-family: 'Special Elite', cursive;
}

.instructions {
  position: absolute;
  top: 300px;
  text-align: center;
  left: 55px;
  width: 70%;
}

.game-over {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.score {
  display: none;
  position: absolute;
  font-family: monospace;
  bottom: 140px;
  right: 30px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 3.5em;
}

.start-button {
  width: 206px;
  height: 69px;
  position: absolute;
  bottom: 115px;
  left: 77px;
  cursor: pointer;
  z-index: 2;
}

.mobile-button {
  display: none;
  opacity: 0.5;
  width: 178px;
  height: 640px;
  position: relative;
  top: -640px;
  cursor: pointer;
  z-index: 2;
}
.left {
  background-color: yellow;
}

.right {
  background-color: green;
}
