html, body {
  width: 360px;
  height: 640px;
  margin: 0;
  overflow: hidden;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  position: absolute;
  top: 0;
  height: 640px;
  width: 360px;
  background-color: #6954f7;
  font-family: 'Special Elite', cursive;
}

.instructions {
  position: absolute;
  top: 300px;
  text-align: center;
  left: 55px;
  width: 70%;
}
